* { box-sizing: border-box;}

body { margin: 0; }

.header {
    padding: 20px;
    text-align: center;
    bottom:5%;
}

.column {
    float: left;
    padding: 10px;
}

.column.side { width: 25%;}

.column.middle { width: 50%;}

.row:after {
    content: "";
    display: table;
    clear: both;
}

